<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.document.OrderGoodsMapper">
  <resultMap id="BaseResultMap" type="com.shop.pojo.document.OrderGoods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_document_code" jdbcType="VARCHAR" property="goods_document_code" />
    <result column="client_id" jdbcType="INTEGER" property="client_id" />
    <result column="amount_money" jdbcType="DECIMAL" property="amount_money" />
    <result column="actual_money" jdbcType="DECIMAL" property="actual_money" />
    <result column="card_id" jdbcType="INTEGER" property="card_id" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_document_code, client_id, amount_money, actual_money, card_id, comment
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_order_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_order_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shop.pojo.document.OrderGoods">
    insert into tb_order_goods (id, goods_document_code, client_id, 
      amount_money, actual_money, card_id, 
      comment)
    values (#{id,jdbcType=INTEGER}, #{goods_document_code,jdbcType=VARCHAR}, #{client_id,jdbcType=INTEGER}, 
      #{amount_money,jdbcType=DECIMAL}, #{actual_money,jdbcType=DECIMAL}, #{card_id,jdbcType=INTEGER}, 
      #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shop.pojo.document.OrderGoods">
    insert into tb_order_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goods_document_code != null">
        goods_document_code,
      </if>
      <if test="client_id != null">
        client_id,
      </if>
      <if test="amount_money != null">
        amount_money,
      </if>
      <if test="actual_money != null">
        actual_money,
      </if>
      <if test="card_id != null">
        card_id,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goods_document_code != null">
        #{goods_document_code,jdbcType=VARCHAR},
      </if>
      <if test="client_id != null">
        #{client_id,jdbcType=INTEGER},
      </if>
      <if test="amount_money != null">
        #{amount_money,jdbcType=DECIMAL},
      </if>
      <if test="actual_money != null">
        #{actual_money,jdbcType=DECIMAL},
      </if>
      <if test="card_id != null">
        #{card_id,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.pojo.document.OrderGoods">
    update tb_order_goods
    <set>
      <if test="goods_document_code != null">
        goods_document_code = #{goods_document_code,jdbcType=VARCHAR},
      </if>
      <if test="client_id != null">
        client_id = #{client_id,jdbcType=INTEGER},
      </if>
      <if test="amount_money != null">
        amount_money = #{amount_money,jdbcType=DECIMAL},
      </if>
      <if test="actual_money != null">
        actual_money = #{actual_money,jdbcType=DECIMAL},
      </if>
      <if test="card_id != null">
        card_id = #{card_id,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.pojo.document.OrderGoods">
    update tb_order_goods
    set goods_document_code = #{goods_document_code,jdbcType=VARCHAR},
      client_id = #{client_id,jdbcType=INTEGER},
      amount_money = #{amount_money,jdbcType=DECIMAL},
      actual_money = #{actual_money,jdbcType=DECIMAL},
      card_id = #{card_id,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>