<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.document.OrderGoodsMapper">
  <resultMap id="BaseResultMap" type="com.shop.pojo.document.OrderGoods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="amount_money" jdbcType="DECIMAL" property="amount_money" />
    <result column="actual_money" jdbcType="DECIMAL" property="actual_money" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <association column="goods_document_code" property="goodsDocument" resultMap="com.shop.mapper.document.GoodsDocumentMapper.BaseResultMap"></association>
    <association column="card_id" property="card" resultMap="com.shop.mapper.CardMapper.BaseResultMap"></association>
    <association column="client_id" property="client" resultMap="com.shop.mapper.BaseMapper.UserResultMap"></association>
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_document_code, client_id, amount_money, actual_money, card_id, `comment`
  </sql>
  <sql id="Select_info">
  	select og.id, og.goods_document_code, og.client_id, og.amount_money, og.actual_money, og.card_id, og.`comment`,
			 gd.`code`,gd.manage_lib_id ,gd.manage_man_id ,gd.create_time ,gd.create_man ,gd.document_type ,gd.isEffective   ,gd.`comment` as goods_document_comment,ui.name,ui.sex ,ui.address ,ui.e_mail ,ui.phone,card.name as card_name
    from tb_order_goods as og LEFT JOIN tb_goods_document as gd ON og.goods_document_code = gd.`code`
				 LEFT JOIN tb_user_info as ui ON og.client_id = ui.id
				 LEFT JOIN tb_card as card ON og.card_id = card.id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <include refid="Select_info" />
    	where og.id = #{id,jdbcType=INTEGER}
  </select>
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_order_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shop.pojo.document.OrderGoods">
    insert into tb_order_goods (id, goods_document_code, client_id, 
      amount_money, actual_money, card_id, 
      `comment`)
    values (#{id,jdbcType=INTEGER}, #{goodsDocument.code,jdbcType=VARCHAR}, #{client.id,jdbcType=INTEGER}, 
      #{amount_money,jdbcType=DECIMAL}, #{actual_money,jdbcType=DECIMAL}, #{card_id,jdbcType=INTEGER}, 
      #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shop.pojo.document.OrderGoods">
    insert into tb_order_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsDocument.code != null">
        goods_document_code,
      </if>
      <if test="client.id != null">
        client_id,
      </if>
      <if test="amount_money != null">
        amount_money,
      </if>
      <if test="actual_money != null">
        actual_money,
      </if>
      <if test="card_id != null">
        card_id,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsDocument.code != null">
        #{goodsDocument.code,jdbcType=VARCHAR},
      </if>
      <if test="client.id != null">
        #{client.id,jdbcType=INTEGER},
      </if>
      <if test="amount_money != null">
        #{amount_money,jdbcType=DECIMAL},
      </if>
      <if test="actual_money != null">
        #{actual_money,jdbcType=DECIMAL},
      </if>
      <if test="card_id != null">
        #{card_id,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.pojo.document.OrderGoods">
    update tb_order_goods
    <set>
      <if test="goods_document_code != null">
        goods_document_code = #{goods_document_code,jdbcType=VARCHAR},
      </if>
      <if test="client_id != null">
        client_id = #{client_id,jdbcType=INTEGER},
      </if>
      <if test="amount_money != null">
        amount_money = #{amount_money,jdbcType=DECIMAL},
      </if>
      <if test="actual_money != null">
        actual_money = #{actual_money,jdbcType=DECIMAL},
      </if>
      <if test="card_id != null">
        card_id = #{card_id,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.pojo.document.OrderGoods">
    update tb_order_goods
    set goods_document_code = #{goods_document_code,jdbcType=VARCHAR},
      client_id = #{client_id,jdbcType=INTEGER},
      amount_money = #{amount_money,jdbcType=DECIMAL},
      actual_money = #{actual_money,jdbcType=DECIMAL},
      card_id = #{card_id,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>