<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.BaseMapper">
<!-- 汇总对象 用于计算金额 -->
  <resultMap type="com.shop.pojo.document.ObjectSummary" id="ObjectSummaryMap">
  	<result column="handleCount"  property="handleCount" />
  	<result column="returnCount"  property="returnCount" />
  	<result column="handleMoney" property="handleMoney" />
  	<result column="returnMoney"  property="returnMoney" />
    
  </resultMap>

	
  <!-- 仓库模型 -->
  <resultMap id="LibResultMap" type="com.shop.pojo.Lib">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="lib_phone" jdbcType="VARCHAR" property="lib_phone" />
    <result column="lib_manage_man" jdbcType="VARCHAR" property="lib_manage_man" />
    <result column="manage_phone" jdbcType="VARCHAR" property="manage_phone" />
  </resultMap>
  
  <!-- 用户模型 -->
  <resultMap id="UserResultMap" type="com.shop.pojo.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="e_mail" jdbcType="VARCHAR" property="e_mail" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  <!-- 商品模型 -->
  <resultMap id="ShopResultMap" type="com.shop.pojo.Shop">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  
  <!-- 计量单位 -->
  <resultMap id="CountUnitResultMap" type="com.shop.pojo.CountUnity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="unit_name" jdbcType="VARCHAR" property="unit_name" />
  </resultMap>
  
  <!-- 单据类型  -->
  <resultMap id="DocumentTypeResultMap" type="com.shop.pojo.DocumentType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_name" jdbcType="VARCHAR" property="type_name" />
    <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation" />
  </resultMap>
  
  
<!-- sql语句区域 -->
  
  <!-- 分页查询 -->
  <sql id="limit">
  	
	<if test='pageIndex!=null and pageSize != null '>
	  limit #{pageIndex},#{pageSize}
	</if>
  </sql>
  
  <!-- 按ID查询|条件 -->
  <sql id="findId">
  	<if test="_parameter.containsKey('findId') and findId != null">
		id = #{findId}
	</if>
  </sql>
  
  <!-- 按时间查询|条件 -->
  <sql id="time">
  		
  		<if test="_parameter.containsKey('starTime') or _parameter.containsKey('endTime')">
	  		create_time BETWEEN
	  		<if test='starTime!=null'>
			  #{starTime}
			</if>
			<if test='starTime==null'>
			  ''
			</if>
			and
			<if test='endTime != null'>
			  #{endTime}
			</if>
			<if test='endTime == null'>
			  ''
			</if>
  		
  		</if>
  </sql>
  
  
  
  <!-- 查询单据类型 -->
  <select id="selectDocType" resultMap="DocumentTypeResultMap">
  	select 
     id, type_name, abbreviation
    from tb_document_type
  </select>
  <select id="selectDocTypeById" resultMap="DocumentTypeResultMap">
  	select 
     id, type_name, abbreviation
    from tb_document_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectUserById" resultMap="UserResultMap">
  	select
  		id,name,sex,address,e_mail,phone
  	from tb_user_info
  	where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectCountUnit"  resultMap="CountUnitResultMap">
    select 
    id, unit_name
    from tb_count_unity
  </select>
  <select id="selectCountUnitById" parameterType="java.lang.Integer"  resultMap="CountUnitResultMap">
    select 
    id, unit_name
    from tb_count_unity
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  <select id="selectShopByPrimaryKey" parameterType="java.lang.Integer" resultMap="ShopResultMap">
    select id, name, content from tb_shop
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectSpecifications" resultMap="com.shop.mapper.SpecificationMapper.BaseResultMap">
  	select 
    si.id, info,type_name
    from tb_specification_info as si left join tb_specification_type as st on si.specification_type = st.id
  </select>
  
  <select id="selectLibById" parameterType="java.lang.Integer" resultMap="LibResultMap">
    select id, name, address, lib_phone, lib_manage_man, manage_phone
    from tb_lib
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectLibList"  resultMap="LibResultMap">
    select id, name, address, lib_phone, lib_manage_man, manage_phone
    from tb_lib
  </select>
</mapper>