<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.GoodsInfoMapper">
  <resultMap id="BaseResultMap" type="com.shop.pojo.GoodsInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="unit" jdbcType="INTEGER" property="unitId" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="unit_name" jdbcType="INTEGER" property="unit" />
    
    <association column="goods_document_code" property="goodsDocument" select="com.shop.mapper.document.GoodsDocumentMapper.selectByPrimaryKey"></association>
    <association column="specification_id" property="specification" select="com.shop.mapper.SpecificationMapper.selectByPrimaryKey"></association>
    <association column="shop_id" property="shop" select="com.shop.mapper.BaseMapper.selectShopByPrimaryKey"></association>
  </resultMap>
  
  
  <!--  货物销售/采购 汇总  -->
  <resultMap type="com.shop.pojo.document.GoodsSummary" extends="com.shop.mapper.BaseMapper.ObjectSummaryMap" id="GoodsSummaryMap">
    
    <association column="unit" property="shopInfo.unit" select="com.shop.mapper.BaseMapper.selectCountUnitById"></association>
    <association column="specification_id" property="shopInfo.specification" select="com.shop.mapper.SpecificationMapper.selectByPrimaryKey"></association>
    <association column="shop_id" property="shopInfo.shop" select="com.shop.mapper.BaseMapper.selectShopByPrimaryKey"></association>
  </resultMap>
  <sql id="Base_Column_List">
    gi.id, gi.goods_document_code, gi.shop_id, gi.specification_id, gi.price, gi.unit, gi.count,cu.unit_name
  </sql>
  
  <sql id="Goods_Column_List">
    `code`,manage_lib_id,manage_man_id,create_time,create_man,document_type,isEffective,`comment`
  </sql>
   <sql id="Count_Condition">
  	<if test="_parameter.containsKey('starTime') or _parameter.containsKey('endTime')">
			
			and gd.create_time BETWEEN 
				<if test='starTime!=null'> #{starTime} </if>
				<if test='starTime==null'> '' </if>
				and
				<if test='endTime != null'> #{endTime} </if>
				<if test='endTime == null'> '9999-12-31' </if>
		</if> 
		<if test="_parameter.containsKey('findId') and findId != null">
			and og.client_id = #{findId}
		</if> 
    
    	<if test="_parameter.containsKey('manageManId') and manageManId != null">
			and gd.manage_man_id = #{manageManId}
		</if> 
		
		<if test="_parameter.containsKey('libId') and libId != null">
			and gd.manage_lib_id = #{libId}
		</if> 
		
		<if test="_parameter.containsKey('shopId') and shopId != null">
			and  gi.shop_id = #{shopId}
		</if> 
  </sql>
  <sql id="Goods_List">
  	gi.id, goods_document_code, shop_id, specification_id, price, unit, count
  </sql>
  
  <select id="selectGoodsInfoByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from tb_goods_info as gi inner join tb_count_unity as cu on gi.unit = cu.id
    where goods_document_code = #{code,jdbcType=VARCHAR}
  </select>
  
  <select id="getCount" resultType="int">
  	select count(1) from tb_goods_info as gi
  	inner JOIN tb_order_goods    as og on gi.goods_document_code = og.goods_document_code
  	inner JOIN tb_goods_document as gd on gi.goods_document_code = gd.`code`
  	where gi.goods_document_code  like  'XS%' or gi.goods_document_code  like  'XT%'
  	<include refid="Count_Condition"/>
  	
  </select>
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_goods_info as gi left join tb_count_unity as cu on gi.unit = cu.id
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  <!-- 销售明细查询  -->
  <select id="orderGoodsSelect"  resultMap="BaseResultMap">
  	select 
    id, goods_document_code, shop_id, specification_id, price, unit, count
    from tb_goods_info  where goods_document_code  like  'XS%' or goods_document_code  like  'XT%'
  </select>
  
  <!-- 查询销售明细 -->
  <select id="orderGoodsSelectByPage"  resultMap="BaseResultMap">
  	select 
    gi.id, gi.goods_document_code, gi.shop_id, gi.specification_id, gi.price, gi.unit, gi.count
    from tb_goods_info as gi
   		left join tb_order_goods as og on gi.goods_document_code = og.goods_document_code
		left join tb_goods_document as gd on gi.goods_document_code = gd.`code`
	where (gi.goods_document_code  like  'XS%' or gi.goods_document_code  like  'XT%')
	<include refid="Count_Condition"/>
    <include refid="com.shop.mapper.BaseMapper.limit"/>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_goods_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertList" >
  	insert into tb_goods_info(
        id,
        goods_document_code,
        shop_id,
        specification_id,
        price,
        unit,
        count)
    values
   
  	<foreach collection="list" item="item" open="(" close=")" separator="),(" >
  		
	        #{item.id,jdbcType=INTEGER},
	        #{item.goodsDocument.code,jdbcType=VARCHAR},
	        #{item.shop.id,jdbcType=INTEGER},
	        #{item.specification.id,jdbcType=INTEGER},
	        #{item.price,jdbcType=DECIMAL},
	        #{item.unitId,jdbcType=INTEGER},
	        #{item.count,jdbcType=INTEGER}
 		
  	</foreach>
 	
  </insert>
  <insert id="insertSelective" parameterType="com.shop.pojo.GoodsInfo">
    insert into tb_goods_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsDocument.code != null">
        goods_document_code,
      </if>
      <if test="shop.id != null">
        shop_id,
      </if>
      <if test="specification.id != null">
        specification_id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="count != null">
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsDocument.code != null">
        #{goodsDocument.code,jdbcType=VARCHAR},
      </if>
      <if test="shop.id != null">
        #{shop.id,jdbcType=INTEGER},
      </if>
      <if test="specification.id != null">
        #{specification.id,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.pojo.GoodsInfo">
    update tb_goods_info
    <set>
      <if test="goods_document_code != null">
        goods_document_code = #{goods_document_code,jdbcType=VARCHAR},
      </if>
      <if test="shop_id != null">
        shop_id = #{shop_id,jdbcType=INTEGER},
      </if>
      <if test="specification_id != null">
        specification_id = #{specification_id,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.pojo.GoodsInfo">
    update tb_goods_info
    set goods_document_code = #{goods_document_code,jdbcType=VARCHAR},
      shop_id = #{shop_id,jdbcType=INTEGER},
      specification_id = #{specification_id,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      unit = #{unit,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>