<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.PayrecAndOutLibMapper">
  <resultMap id="BaseResultMap" type="com.shop.pojo.PayrecAndOutLib">
    <id column="id" jdbcType="INTEGER" property="id" />
    <association column="tb_payment_received_id" property="payment" select="com.shop.mapper.PaymentMapper.selectByPrimaryKey"></association>
  	<association column="inputlib_id" property="inLibAndSup" select="com.shop.mapper.InLibAndSupMapper.selectByPrimaryKey"></association>
  </resultMap>
  <sql id="Base_Column_List">
    id, tb_payment_received_id, inputlib_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from paymentreceived_to_outlib
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from paymentreceived_to_outlib
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shop.pojo.PayrecAndOutLib">
    insert into paymentreceived_to_outlib (id, tb_payment_received_id, inputlib_id
      )
    values (#{id,jdbcType=INTEGER}, #{tb_payment_received_id,jdbcType=INTEGER}, #{inputlib_id,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shop.pojo.PayrecAndOutLib">
    insert into paymentreceived_to_outlib
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tb_payment_received_id != null">
        tb_payment_received_id,
      </if>
      <if test="inputlib_id != null">
        inputlib_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tb_payment_received_id != null">
        #{tb_payment_received_id,jdbcType=INTEGER},
      </if>
      <if test="inputlib_id != null">
        #{inputlib_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.pojo.PayrecAndOutLib">
    update paymentreceived_to_outlib
    <set>
      <if test="tb_payment_received_id != null">
        tb_payment_received_id = #{tb_payment_received_id,jdbcType=INTEGER},
      </if>
      <if test="inputlib_id != null">
        inputlib_id = #{inputlib_id,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.pojo.PayrecAndOutLib">
    update paymentreceived_to_outlib
    set tb_payment_received_id = #{tb_payment_received_id,jdbcType=INTEGER},
      inputlib_id = #{inputlib_id,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>