<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.SpecificationMapper">
  <resultMap id="BaseResultMap" type="com.shop.pojo.Specification">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_name" jdbcType="VARCHAR" property="specificationType" />
    <result column="info" jdbcType="DECIMAL" property="info" />
  </resultMap>
  <sql id="Base_Column_List">
    si.id, si.info,specification_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_specification_info as si left join tb_specification_type as st on si.specification_type = st.id
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_specification_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shop.pojo.Specification">
    insert into tb_specification_info (id, specification_type, info
      )
    values (#{id,jdbcType=INTEGER}, #{specification_type,jdbcType=INTEGER}, #{info,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shop.pojo.Specification">
    insert into tb_specification_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="specification_type != null">
        specification_type,
      </if>
      <if test="info != null">
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="specification_type != null">
        #{specification_type,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        #{info,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.pojo.Specification">
    update tb_specification_info
    <set>
      <if test="specification_type != null">
        specification_type = #{specification_type,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.pojo.Specification">
    update tb_specification_info
    set specification_type = #{specification_type,jdbcType=INTEGER},
      info = #{info,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>