<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.SupplierMapper">
  <resultMap id="BaseResultMap" type="com.shop.pojo.Supplier">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="linker_name" jdbcType="VARCHAR" property="linker_name" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="e_mail" jdbcType="VARCHAR" property="e_mail" />
  </resultMap>
  <sql id="Base_Column_List">
    id, linker_name, unit, address, phone, e_mail
  </sql>
  
  <select id="selectAllSupplier" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from tb_supplier
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_supplier
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_supplier
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shop.pojo.Supplier">
    insert into tb_supplier (id, linker_name, unit, 
      address, phone, e_mail
      )
    values (#{id,jdbcType=INTEGER}, #{linker_name,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{e_mail,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shop.pojo.Supplier">
    insert into tb_supplier
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="linker_name != null">
        linker_name,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="e_mail != null">
        e_mail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="linker_name != null">
        #{linker_name,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="e_mail != null">
        #{e_mail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.pojo.Supplier">
    update tb_supplier
    <set>
      <if test="linker_name != null">
        linker_name = #{linker_name,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="e_mail != null">
        e_mail = #{e_mail,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.pojo.Supplier">
    update tb_supplier
    set linker_name = #{linker_name,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      e_mail = #{e_mail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>