/* 登录/注册模态框 */
.modal_hide{display: none;}
.logo_img {width: 100%; height: 100%;}
.modal_bg {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.6;
	background-color: black;
	z-index: 9;
}

.lr_modal {
	/* background-color: hsla(0, 0%, 100%, 0.5); */
	position: fixed;
	left: 50%;
	top: 50%;
	width: 30%;min-width:370px;
	/* height: 400px; */
	margin-left: -200px;
	margin-top: -250px;
	z-index: 10;padding:10px;/* text-align:center; */
	background-color: white;
}

/* 登录注册模态框的logdiv */
.lr_logo_div {
	width: 100%;height: 80px;margin-bottom: 8px;
}
.lr_from {
	padding: 0px 10px;
}
.propmt_text {
	width: 100%; text-align: center;font-size: 18px; line-height: 50px;
	color: #666;
}
.propmt_text a{
	cursor: pointer;
}
/* 表单提交按钮 */
.submit_div { width: 100%; text-align: center;margin-top:10px;
background-color: rgba(106, 167, 240, 1.0);}
.submit_btn {
	cursor: pointer; line-height: 50px; font-size: 18px;
	color: #666;display: block;background-color: rgba(106, 167, 240, 1.0);
	width: 100%;
}
.verify-wrap {
	cursor: pointer;
}
/* 右侧工作区域 */
.main_div {
	width: 100%; padding: 30px; font-size: 18px; color: #666;
}
.main_div h3{
	text-align: center;
}
.main_div ul {margin: 0px; padding: 0px;}
.main_div li {list-style-type: none;}